{% extends "main/anonymous.html" %}

{% block title %}Kind Table - Login{% endblock %}

{% block page_content %}

    <h1>Login</h1>


<div class="row well-spaced" style="padding-top: 3em">
    <div class="col-md-4 col-md-offset-4">
        <div class = "row round_hidden_div form-group" style="padding-top: 2em">
            {% from "_formhelpers.html" import render_field, render_checkbox_field, render_no_label_field %}
            <form name="login-form" id="login-form"class="form form-horizontal" method="post" role="form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <dl>
                    {{ render_no_label_field(login_form.timezone, id="timezone") }}
                    {{ render_field(login_form.email, style="width: 75%") }}<br>
                    {{ render_field(login_form.password, style="width: 75%") }}<br>
                    {{ render_checkbox_field(login_form.remember_me)  }}<br>
                    <input name='submit1' type=submit class="btn btn-info" value='submit'>  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#resetpassword">Reset Password</button>
                </dl>

            </form>
        </div>
    </div>
</div>

 <!-- Modal -->
<div id="resetpassword" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Reset Password</h4>
            </div>
            <div class="modal-body">
                <div class = "row round_hidden_div form-group" style="padding-top: 2em">
                        {% from "_formhelpers.html" import render_field %}
                        <form action="{{ url_for('auth.process_reset')  }}" name="reset_password_request_form" id="reset_password_request_form" class="form form-horizontal" method="post" role="form">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            {{ render_field(reset_password_request_form.email, style="width: 75%") }}<br>
                            <input type="submit" class="btn btn-sm btn-info btn-default" value="Submit">
                        </form>
                    </div>
                </div>     
            </div>
        </div>
    </div>
</div>

{% endblock %}
