{% extends "base.html" %}

{% block title %}Kind Table - Register{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Register</h1>
</div>

<div class="row well-spaced" style="padding-top: 10em">
    <div class="col-md-4 col-md-offset-4">
        <div class = "row round_hidden_div" style="padding-top: 2em">
            <form class="form form-horizontal" method='POST' role="form" name="login">
                {{ form.csrf_token }}
                <p>Email address:<br>{{ form.email  }}<br><br>
                 Password:<br>{{ form.password  }}<br><br>
                 Verify Password:<br>{{ form.password2  }}<br><br>
                 
                {{ form.submit  }}
            </form>
    </div>
</div>
{% endblock %}