<p>Hello!</p>
<p><strong>{{ friend.first_name}} {{ friend.last_name  }}<strong> ({{  friend.email  }}) would like to 
connect with you on KindTable. </p>

<p>KindTable is a webapp I made that organizes dietary information such as diet (ex: vegan, paleo, vegetarian),
allergies/intolerances (ex: gluten, peanut) and ingredients to avoid (ex: red pepper, pork) and helps
the host pick recipes that will work for everyone invited to a meal.</p>

<strong>Step One:</strong>

Register at Kind Table. Complete a quick registration process to provide your dietary information. Don't have
any dietary preferences? The process will be even quicker. :) 

<a href="{{  url_for('auth.register')  }}">{{  url_for('auth.register')  }}</a>


<strong>Step Two:</strong>

<p>To become friends with {{ friend.first_name}} {{ friend.last_name  }}({{  friend.email  }}), click 
on the following link and sign in to your KindTable account:</p>

<p><a href="{{ url_for('profiles.confirm_friendship_with_new_user', token=token, _external=True) }}">{{ url_for('profiles.confirm_friendship_with_new_user', token=token, _external=True) }}</a></p>

<p>Sincerely,</p>

<p>Ilsa Gordon<br>
Kind Table</p>
