{% extends 'main/base.html' %}
{% block content %}  

<!-- Modals -->

<div class="modal fade" id="firstNameModal" tabindex="-1" role="dialog" aria-labelledby="changeFirstNameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeFirstNameModalLabel">Change First Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class = "row round_hidden_div" style="padding-top: 2em">
                {% from "_formhelpers.html" import render_field %}
                    <form action="{{ url_for('profiles.changefirstname') }}" class="form form-horizontal" method="post" role="form" id="changeFirstName">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="profile_id" value="{{  profile.profile_id  }}"/>
                        {{ render_field(first_name_form.first_name,  style="width: 75%", rows="1") }}<br>
                        <input type="submit" class="btn btn-sm btn-info btn-default" value="Submit">&ensp;<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                    </form>
                </div>  
            </div>
        </div>
         <script src="{{ url_for('static', filename = 'js/firstName.js') }}" type="text/javascript"></script>
    </div>
</div>

<div class="modal fade" id="lastNameModal" tabindex="-1" role="dialog" aria-labelledby="changeLastNameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeLastNameModalLabel">Change Last Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class = "row round_hidden_div" style="padding-top: 2em">
                {% from "_formhelpers.html" import render_field %}
                    <form action="{{ url_for('profiles.changelastname') }}" class="form form-horizontal" method="post" role="form" id="changeLastName">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="profile_id" value="{{  profile.profile_id  }}"/>
                        {{ render_field(last_name_form.last_name, style="width: 75%", rows="1") }}<br>
                        <input type="submit" class="btn btn-sm btn-info btn-default" value="Submit">&ensp;<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                    </form>
                </div>  
            </div>
        </div>
    </div>
     <script src="{{ url_for('static', filename = 'js/lastName.js') }}" type="text/javascript"></script>
</div>

<div class="modal fade" id="dietModal" tabindex="-1" role="dialog" aria-labelledby="changeDietModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeDietModalLabel">Change Diet Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class = "row round_hidden_div" style="padding-top: 2em">
                {% from "_formhelpers.html" import render_field %}
                    <form action="{{ url_for('profiles.changediet') }}" class="form form-horizontal" method="post" role="form" id="changeDiet">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="profile_id" value="{{  profile.profile_id  }}"/>
                        {{ render_field(diet_form.diet) }}
                        <input type="submit" class="btn btn-sm btn-info btn-default" value="Submit">&ensp;<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                    </form>
                </div>  
            </div>
        </div>
    </div>
     <script src="{{ url_for('static', filename = 'js/diet.js') }}" type="text/javascript"></script>
</div>


<div class="modal fade" id="dietReasonModal" tabindex="-1" role="dialog" aria-labelledby="changeDietReasonModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeDietReasonModalLabel">Change Diet Reason</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class = "row round_hidden_div" style="padding-top: 2em">
                {% from "_formhelpers.html" import render_field %}
                    <form action="{{ url_for('profiles.changedietreason') }}" class="form form-horizontal" method="post" role="form" id="changeDietReason">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="profile_id" value="{{  profile.profile_id  }}"/>
                        {{ render_field(diet_reason_form.diet_reason, style="width: 100%", rows="4", maxlength=128) }}
                        <input type="submit" class="btn btn-sm btn-info" value="Submit">&emsp;
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                            Cancel
                        </button>&emsp;
                        <button type="button" class="btn btn-sm btn-danger" id="clearDietReason">Delete reason</button>
                    </form>
                     <script src="{{ url_for('static', filename = 'js/dietReason.js') }}" type="text/javascript"></script>
                </div>             
            </div>
        </div>
    </div>            
</div>


<div class="modal fade" id="addAvoidModal" tabindex="-1" role="dialog" aria-labelledby="addAvoidModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAvoidModalLabel">Add an Ingredient to Avoid</h5>
                <div id="flashedalert"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class = "row round_hidden_div" style="padding-top: 2em">
                {% from "_formhelpers.html" import render_field %}
                    <form action="{{ url_for('profiles.addavoid') }}" class="form form-horizontal" method="POST" role="form" id="addAvoidForm">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="profile_id" value="{{  profile.profile_id  }}"/>
                        {{ render_field(add_avoid_form.add_avoid_ingredient, style="width: 75%", rows="1") }}
                        {{ render_field(add_avoid_form.add_avoid_reason, style="width: 100%", rows="4", maxlength=128) }}
                        <p class = "text-muted">The information about why you avoid this ingredient is provided to your hosts to help them make decisions about what they will serve other guests.</p>
                        <input type="submit" class="btn btn-sm btn-info" value="Submit">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                            Close
                        </button>
                    </form>
                </div>
            </div>
        </div>
         <script src="{{ url_for('static', filename = 'js/addAvoid.js') }}" type="text/javascript"></script>
    </div>
</div>

<div class="modal fade" id="updateAvoidModal" tabindex="-1" role="dialog" aria-labelledby="updateAvoidModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h5 class="modal-title" id="updateAvoidModalLabel">Update an Ingredient You Would Like To Avoid</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class = "row round_hidden_div" style="padding-top: 2em">


                {% from "_formhelpers.html" import render_field %}
                    <form action="{{ url_for('profiles.updateavoid') }}" class="form form-horizontal" method="POST" role="form" id="updateAvoidForm">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="profile_id" value="{{  profile.profile_id  }}"/>
                        <input type="hidden" id="updateAvoidFormAvoidId" name="avoid_id"/>
                        {{ render_field(update_avoid_form.update_avoid_ingredient, style="width: 75%", rows="1") }}
                        {{ render_field(update_avoid_form.update_avoid_reason, style="width: 100%", rows="4", maxlength=128) }}
                        <p class = "text-muted">The information about why you avoid this ingredient is provided to your hosts to help them make decisions about what they will serve other guests.</p>
                        <input type="submit" class="btn btn-sm btn-info" value="Submit">&emsp;
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                            Cancel
                        </button>&emsp;
                        <button type="button" class="btn btn-sm btn-warning" id="deleteavoidreason">Delete the reason</button>
                        <button type="button" class="btn btn-sm btn-danger" id="deleteavoid">Delete ingredient</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
     <script src="{{ url_for('static', filename = 'js/updateAvoid.js') }}" type="text/javascript"></script>
</div>

<div class="modal fade" id="intolModal" tabindex="-1" role="dialog" aria-labelledby="addIntolModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h5 class="modal-title" id="addIntolModalLabel">Change Allergy/Intolerance Groups</h5>
                <div id="flashedalert"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class = "row round_hidden_div" style="padding-top: 2em">
                {% from "_formhelpers.html" import render_field %}
                    <form action="{{ url_for('profiles.intol') }}" class="form form-horizontal" method="POST" role="form" id="intolsForm">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="profile_id" value="{{  profile.profile_id  }}"/>
                        {{ render_field(intol_form.intolerances) }}
                        <p class = "text-muted">Selecting the allergy/intolerance groups that apply to you can help make sure that KindTable recipes will be safe for you. For example, gluten can be found in many <a href="https://celiac.org/live-gluten-free/glutenfreediet/sources-of-gluten/" title="The Celiac Disease Foundation's list of sources of gluten" target="_blank">non-wheat ingredients</a> and if you select gluten, we will be sure that recipes will not include those ingredients. But if you are sensitive only to wheat itself and not ingredients such as soy sauce, selecting "wheat" instead of "gluten" gives you and your hosts more options.</p>
                        <input type="submit" class="btn btn-sm btn-info" value="Submit">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                            Close
                        </button>
                    </form>
                </div>
            </div>
        </div>
         <script src="{{ url_for('static', filename = 'js/Intol.js') }}" type="text/javascript"></script>
    </div>
</div>

<div class="modal fade" id="deleteAccount" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteAccountModalLabel">Delete Your Account</h4>
                <div id="flashedalert"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class = "row round_hidden_div" style="padding-top: 2em">
                        
                    <div class="alert alert-warning" role="alert">    
                        
                        <span class="text-danger">Caution: Are you sure this is what you want to do? All information you have saved will
                            be permanently deleted. While we are sad to see you go, you can still sign up again later.
                        </span>
                    </div>

                    {% from "_formhelpers.html" import render_field %}
                    <form action="{{ url_for('auth.delete_account') }}" class="form form-horizontal" method="POST" role="form" id="deleteForm">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="profile_id" value="{{  profile.profile_id  }}"/>
                        <input type="submit" class="btn btn-lg btn-danger" value="Delete Account"><br><br>
                        
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                            Close
                        </button>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>


<!-- Begin content -->

<h1 class="text-left" style="padding-left: 3em">Dashboard</h1>
    
    <div class="row well-spaced" style="padding-top: 3em">
        <div class="col-md-4 col-md-offset-1">      
            <div class = "row round_div" style="padding-top: 2em">
                

                <h3>Profile</h3>
                <div class='lastUpdated'>
                    <div id='lastUpdated' class="text-muted small" style='padding-bottom: 1em'>
                        Last updated {{ moment(profile.last_updated).format('LLLL') }}
                    </div>
                </div>
                <div class="first">
                    <div id="first">
                        <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#firstNameModal">
                            <span class="glyphicon glyphicon-pencil text-info" title="Change your first name" aria-hidden="true"></span>
                        </button>&emsp; <strong>First Name:</strong>&emsp;{{  profile.first_name  }}
                    </div>
                </div>
                <div class="last">
                    <div id="last">
                        <button type="button" class="btn btn-sm btn-default" data-toggle="modal" title="Change your last name" data-target="#lastNameModal">
                            <span class="glyphicon glyphicon-pencil text-info" aria-hidden="true"></span>
                        </button>&emsp; <strong>Last Name:</strong>&emsp;{{  profile.last_name  }}
                    </div>
                </div>

                <div id="email">
                    <a href="{{  url_for('auth.change_email')  }}" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-pencil text-info" title="Change your email address. Caution: This is also how your friends find you on KindTable" aria-hidden="true"></span>
                    </a>&emsp; <strong>Email address:</strong>&emsp;{{  profile.email  }}
                </div>

                <div class="dietType">
                    <div id="dietType">
                        <button type="button" class="btn btn-sm btn-default" href="#" data-toggle="modal" data-target="#dietModal">
                            <span class="glyphicon glyphicon-pencil text-info" title="Change the diet you follow" aria-hidden="true"></span>
                        </button>&emsp; <strong>Diet you generally follow:</strong>&emsp;{{  profile.diet.diet_type  }}
                    </div>
                </div>

                <div class="dietReason">
                    <div id="dietReason">
                        <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#dietReasonModal">
                            <span class="glyphicon glyphicon-pencil text-info" title="Change the reason you follow this diet. This information is shown to hosts to help them decide what to make for other guests." aria-hidden="true"></span>
                        </button>&emsp; <strong>Diet reason:</strong>&emsp;{{  profile.diet_reason  }}
                    </div>
                </div>

                <div class='intols'>
                    <div id='intols' style="padding-top: 1em">
                        {% if profile.intolerances %}
                            <button type="button" class="btn btn-sm btn-default" data-toggle="modal" title="Add another allergy/intolerance group" data-target="#intolModal">
                                <span class="glyphicon glyphicon-pencil text-info" aria-hidden="true"></span>
                            </button>&emsp; <strong>Allergies/intolerances:</strong>
                            <ul>
                                {% for intolerance in profile.intolerances|sort(attribute='intol_name') %}
                                    <li>
                                        <strong>{{ intolerance.intol_name }}</strong> - (<i>{{  intolerance.intol_description  }}</i>)
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <button type="button" class="btn btn-sm btn-default" data-toggle="modal" title="Add an allergy/intolerance group" data-target="#intolModal">add</button>&emsp;<span class="text-muted strong">No allergy/intolerance groups added yet</span>
                        {% endif %}
                    </div>
                </div>

                <div class='avoids'>
                    <div id="avoids" style="padding-top: 1em">
                        {% if profile.avoidances %}
                            <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#addAvoidModal" title="Add another ingredient to avoid">
                                <span class="glyphicon glyphicon-plus text-info" aria-hidden="true"></span>
                            </button>&emsp;<strong>Ingredients you would like to avoid:</strong> 
                            <ul>
                                {% for avoid in profile.avoidances|sort(attribute='ingredient') %}
                                    <li style="list-style: none;">
                                        <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#updateAvoidModal" data-whatever="{{ avoid.avoid_id  }}">
                                            <span class="glyphicon glyphicon-pencil text-info" aria-hidden="true"></span>
                                        </button>&ensp;<strong>{{ avoid.ingredient }}</strong> - (<i>{{ avoid.reason}}</i>)
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <button type="button" class="btn btn-sm btn-default" title="Add some ingredients you would like to avoid" data-toggle="modal" data-target="#addAvoidModal">add</button>&emsp;<span class="text-muted strong">No ingredients to avoid added yet</span> 
                        {% endif %}
                    </div>
                </div>

                <div id="remove" style="padding-top: 3em">
                    <small>Don't want to use Kind Table anymore?</small>
                    <button type="button" class="btn btn-sm btn-default" href="#" data-toggle="modal" data-target="#deleteAccount">
                        <span class="text-danger">Delete Your Account</span>
                    </button>
                </div>

            </div>
        </div>

        <div class="col-md-5 col-md-offset-1">      
            <div class = "row round_div" style="padding-top: 2em">
                <div id="friends">
                    <h3>Friends</h3>
                    
                    {% if current_user.valid_friends() %}
                        <ul>
                            {% for friend in current_user.valid_friends()|sort(attribute="first_name") %}
                                <li>
                                    <a href="{{ url_for('profiles.show_friend_profile', friend_id=friend.profile_id) }}">
                                        {% if friend.private_profile_title %}
                                        {{  friend.private_profile_title }}
                                        {% else %}
                                        {{ friend.first_name }} {{friend.last_name  }}
                                    <span class="text-muted">({{  friend.email  }})</span>
                                        {% endif %}
                                    </a> 
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <span class="text-muted strong">No friends added yet.</span>
                    {% endif %}
                </div>

                <h3>Upcoming Parties</h3>
                <div id="upcomingparties">
                    {% if upcoming_parties %}
                        <ul>
                            {% for party in upcoming_parties %}
                                <li>
                                    <a href="{{ url_for('profiles.show_party_profile', party_id=party.party_id) }}">
                                        <h4>{{ party.title}}<small><br>Scheduled for {{ moment(party.datetime_of_party).format('LLLL') }}</small></h4>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <span class="text-muted strong">No upcoming parties. Time to plan some!</span>
                    {% endif %}
                </div>
                <h3>Past Parties</h3>
                <div id="pastparties">
                    {% if past_parties %}
                        <ul>
                            {% for party in past_parties %}
                                <li>
                                    <a href="{{ url_for('profiles.show_party_profile', party_id=party.party_id) }}">
                                        <h4>{{ party.title}}</a><small><br>Scheduled for {{ moment(party.datetime_of_party).format('LLLL') }}</small></h4>
                                    
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <span class="text-muted strong">No past parties</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}