<div class="modal-header">
    <h4 class="modal-title" id="findFriendModalLabel">Connect with a Friend on Kind Table</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class = "row round_hidden_div" style="padding-top: 2em">
    <div id="ff-flashedalert"></div>
      <p class="text-muted">If your friend is already registered with Kind Table, an email will be sent on your behalf asking them to share their profile with you.</p>
      <p class="text-muted">If your friend is not registered, an email will be sent on your behalf asking them to register so you can use their dietary information and choose to invite them to parties.</p>

      <p class="text-muted">If you don't want any emails sent to your friends, instead opt to Create a Friend Profile yourself. This Friend Profile will be your own private dossier on your friend's dietary preferences.</p>

      <p class="text-muted">No emails will ever be sent to your friends without your consent.</p>

    {% from "_formhelpers.html" import render_field %}
        <form action="{{ url_for('profiles.connect_friends') }}" class="form form-horizontal" method="post" role="form" id="connectFriend">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {{ render_field(find_friend_form.friend_email, style="width: 75%", rows="1") }}<br>
            <input type="submit" class="btn btn-sm btn-info" value="Submit">&ensp;<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
        </form>
    </div>
    
</div>