{% extends 'main/base.html' %}
{% block content %}  

<!-- Modals -->

<div class="modal fade" id="guestsModal" tabindex="-1" role="dialog" aria-labelledby="guestsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="guestsModalLabel">Manage the guest list</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class = "row round_hidden_div" style="padding-top: 2em">
                {% from "_formhelpers.html" import render_field %}
                    <form action="{{ url_for('profiles.manageguestlist') }}" class="form form-horizontal" method="post" role="form" id="manage_guest_list_form">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="party_id" value="{{  party.party_id  }}"/>
                        {{ render_field(manage_guests_form.friends) }}<br>
                        <input type="submit" class="btn btn-sm btn-info" value="Submit">&ensp;<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                    </form>
                </div>  
            </div>
        </div>
        <script src="{{ url_for('static', filename = 'js/manageGuestList.js') }}" type="text/javascript"></script>
    </div>
</div>

<div class="modal fade" id="titleModal" tabindex="-1" role="dialog" aria-labelledby="changeTitleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeTitleModalLabel">Change Party Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class = "row round_hidden_div" style="padding-top: 2em">
                {% from "_formhelpers.html" import render_field %}
                    <form action="{{ url_for('profiles.changetitle') }}" class="form form-horizontal" method="post" role="form" id="changeTitle">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="party_id" value="{{  party.party_id  }}"/>
                        {{ render_field(titleform.title,  style="width: 75%", rows="1") }}<br>
                        <input type="submit" class="btn btn-sm btn-info btn-default" value="Submit">&ensp;<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                    </form>
                </div>  
            </div>
        </div>
         <script src="{{ url_for('static', filename = 'js/partyTitle.js') }}" type="text/javascript"></script>
    </div>
</div>


<div class="modal fade" id="dateTimeModal" tabindex="-1" role="dialog" aria-labelledby="datetimeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="datetimeModalLabel">Change Party Date and/or Time</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class = "row round_hidden_div" style="padding-top: 2em">
                <div id="ff-flashedalert"></div>

                <strong>Current date and time:</strong> <span class="dtm-dtm">{{ moment(party.datetime_of_party).format('LLLL') }}</span>

                {% from "_formhelpers.html" import render_field, render_inline_field %}
                    <form action="{{ url_for('profiles.party_datetime') }}" class="form form-horizontal" method="post" role="form" id="party_datetime">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="party_id" value="{{  party.party_id  }}"/>
                        {{ render_field(datetimeform.date) }}<br>
                        {{ render_field(datetimeform.hour) }}<br>
                        <input type="submit" class="btn btn-sm btn-info" value="Submit">&ensp;<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename = 'js/datetime.js') }}" type="text/javascript"></script>
    </div>
</div>

<div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="notesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h4 class="modal-title" id="notesModalLabel">Party notes</h4>
                <div id="flashedalert"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class = "row round_hidden_div" style="padding-top: 2em">
                    {% from "_formhelpers.html" import render_field %}
                    <form action="{{ url_for('profiles.changepartynotes') }}" class="form form-horizontal" method="post" role="form" id="notesForm">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="party_id" value="{{  party.party_id  }}"/>
                        {{ render_field(partynotesform.notes, style="width: 100%", rows="5", maxlength=300) }}
                        <input type="submit" class="btn btn-sm btn-info" value="Submit">&ensp;<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-sm btn-danger" id="deletenote">Delete note</button>
                     </form>
                    <script src="{{ url_for('static', filename = 'js/partyNotes.js') }}" type="text/javascript"></script>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="modal fade" id="discardParty" tabindex="-1" role="dialog" aria-labelledby="discardPartyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" role="document">
            <div class="modal-header">
                <h4 class="modal-title" id="discardPartyModalLabel">Discard {{  party.title  }}</h4>
                <div id="flashedalert"></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class = "row round_hidden_div" style="padding-top: 2em">
                        
                    <div class="alert alert-warning" role="alert">    
                        <span class="text-danger">Caution: Are you sure this is what you want to do? All information you have saved about this party and will
                            be permanently deleted. You can still build it later with a fresh start, but you might want to save/print recipes now.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>



 <!-- End modals -->


<!-- Begin content -->

<span class="text-info alert alert-info pull-right" style="display: none;width: 100%" id="emailSuccess">An email with the menu has been sent to the email address you registered with.</span>

<h1 class="text-left" style="padding-left: 3em">{{  party.title  }}</h3>

    <div class="row well-spaced dashboard" style="padding-top: 3em">
        <div class="col-md-4 col-md-offset-1">      
            <div class = "row round_div" style="padding-top: 2em">

                <div class='lastUpdated'>
                    <div id='lastUpdated' class="text-muted small" style='padding-bottom: 1em'>
                        Last updated {{ moment(party.last_updated).format('LLLL') }}
                    </div>
                </div>
                <div class="partytitle">
                    <div id="partytitle">
                        <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#titleModal">
                            <span class="glyphicon glyphicon-pencil text-info" title="Change the party title" aria-hidden="true"></span>
                        </button>&emsp; <strong>Title:</strong>&emsp;{{  party.title  }}
                    </div>
                </div>
                <div class="dtm">
                    <div id="dtm">
                        <button type="button" class="btn btn-sm btn-default" data-toggle="modal" title="Change the date or time of the party" data-target="#dateTimeModal">
                            <span class="glyphicon glyphicon-pencil text-info" aria-hidden="true"></span>
                        </button>&emsp; <strong>Date:</strong>&emsp;<span class="dtm-dtm">{{ moment(party.datetime_of_party).format('LLLL') }}</span>
                    </div>
                </div>
                <div class="party_notes">
                    <div id="party_notes">
                        <button type="button" class="btn btn-sm btn-default" data-toggle="modal" title="Change the notes for the party" data-target="#notesModal">
                            <span class="glyphicon glyphicon-pencil text-info" aria-hidden="true"></span>
                        </button>&emsp; <strong>Notes:</strong>&emsp;{{ party.party_notes }}
                    </div>
                </div>

                <div class="guests">
                    <div id="guests">

                        <h3>Guests
                        
                        <button type="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#guestsModal">
                                Manage guest list
                        </button></h3>
                            
                            {% if party.guests %}
                                {% for guest in party.guests %}
                                    {% if guest.profiles.profile_id != current_user.profile_id %}
                                        <a href="{{ url_for('profiles.show_friend_profile', friend_id=guest.profiles.profile_id) }}">
                                        <span style="font-size: 135%">
                                            {% if guest.profiles.private_profile_title %}
                                            {{  guest.profiles.private_profile_title  }}
                                            {% else %}
                                            {%if guest.profiles.first_name and guest.profiles.last_name %}
                                                {{  guest.profiles.first_name  }} {{  guest.profiles.last_name}}
                                            {% elif guest.profiles.first_name and not guest.profiles.last_name %}
                                                {{  guest.profiles.first_name}}
                                            {% else %}
                                                {{  guest.profiles.email  }}
                                            {% endif %}
                                            {% endif %}
                                        </span>
                                        </a>
                                        {%if guest.profiles.first_name and guest.profiles.last_name %}- ({{  guest.profiles.email  }})
                                        {% elif guest.profiles.first_name and not guest.profiles.last_name %}- ({{  guest.profiles.email  }})
                                        {% endif %}<br>
                                      
                                        <ul>
                                            <li><span class="text-muted"><strong>Diet:</strong> {{  guest.profiles.diet.diet_type}}
                                                {% if guest.profiles.avoidances %}<br><strong>Ingredients avoided:</strong> {% for ingredient in guest.profiles.avoidances %}{{  ingredient.ingredient  }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}
                                                {% if guest.profiles.intolerances %}<br><strong>Allegies/Intolerances:</strong> {% for intolerance in guest.profiles.intolerances %}{{  intolerance.intol_name  }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}</span></li>
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                            No guests invited yet.
                            {% endif %}
                    </div>
                </div>

                <div id="discardParty" style="padding-top: 3em">
                    <small>Want to discard this party?</small>
                    <button type="button" class="btn btn-sm btn-default" href="#" data-toggle="modal" data-target="#discardParty">
                        <span class="text-danger">Delete Party Permanently</span>                                                                                                                                                                                                                                                                                                                                                      
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-md-offset-1">      
            <div class = "row round_div" style="padding-top: 2em">
                
                <div class='recipes'>
                    <div id="recipes" style="padding-top: 1em">

                    {% if collated_recipes %}
                        
                    {% from "_formhelpers.html" import render_field %}
                    <form action="{{ url_for('spoonacular.email_menu') }}" class="form form-horizontal" method="post" role="form" id="emailMenuForm">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="hidden" name="party_id" value="{{  party.party_id  }}"/>
                        <input type="submit" class="btn btn-sm btn-primary pull-right" value="Email Menu To Yourself">
                     </form>
                    <script src="{{ url_for('static', filename = 'js/emailMenu.js') }}" type="text/javascript"></script>
                    {% else %}
                    {% endif %}

                        <h3>Menu</h3>
                
                        {% if party.guests %}
                            <a href="{{  url_for('spoonacular.show_search_spoonacular')  }}" class="btn btn-info" role="button">Search for Recipes</a><br><br>
                            {% endif %}
                        
                        {% if collated_recipes %}
                            {% for recipe in collated_recipes %}
                                <a href="{{ url_for('spoonacular.saved_recipe', record_id=recipe['record_id']) }}" target="_blank"><span style="font-size: 125%">{{  recipe['title']  }}</span></a><br>
                                    <ul>
                                        <li>
                                            <span class="text-muted">
                                                {% if recipe['works_for_guests'] %}
                                            <strong>Works for {{  recipe['works_for_guests']|length  }} out of {{  party.guests|length  }} guests</strong>:<br> {% for person in recipe['works_for_guests'] %}{{  person  }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}<br>
                                        </li>
                                            {% if recipe['notes'] %}
                                                <li>
                                                    <span class="text-muted"><strong>Recipe Notes:</strong> {{  recipe['notes']  }}</span>
                                                </li>
                                            {% endif %}
                                            <li><span class="text-muted"><strong>Course:</strong> {{  recipe['course']  }}</span></li>
                                            <li><span class="text-muted"><strong>Cuisine:</strong> {{  recipe['cuisine']  }}</span></li>
                                    </ul>
                            {% endfor %}
                        {% else %}
                            No recipes added yet for this party.
                        {% endif %}
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}