{% extends 'main/base.html' %}
{% block content %}

<div class="row well-spaced" style="padding-top: 3em">
    <div class="col-md-8 col-md-offset-2">

        <div class = "row round_div" style="padding-top: 2em">

         <h1>{{  this_recipe.recipes.title  }}</h1>
         <p style="text-align: center">This recipe is saved for your party: <a href="/party_profile/{{  party.party_id  }}">{{  party.title  }}</a><br>
            <a href="{{  this_recipe.recipes.recipe_url  }}" target="_blank">View recipe at Spoonacular</a></p>

            <b>Safe for:</b>
            <ul>
                {% for key, value in works_for.iteritems() %}
            </li><strong>{{  key  }}:</strong> {% for each in value %}{{  each  }}{% if not loop.last %}, {% endif %}{% endfor %}</li><br>{% endfor %}
        </ul>


        <b>Ingredients</b>
        {% for key, value in ingredients.iteritems() %}

            <b>Instructions</b>
            {{  instructions  }}



            <img src="{{  this_recipe.recipes.recipe_image_url  }}" alt="{{  this_recipe.recipes.title  }}" class="img-fluid center" >

        </div>
    </div>
</div>

{% endblock %}