.imgcont {
    position: relative;
    float: left;
    width:  33%;
    height: 33%;
 }

 .flashed {
    color: #DC143C;
    font-weight: 900;
}

.instr {
    color: navy;
    font-weight: bold
}

.form-group{
    display: inline-block;
}