{% extends 'base.html' %}
{% block content %}
<div class="well spaced">

    <p>Intolerances for {{ newfriend.first_name }} {{ newfriend.last_name }}:</p>
    {% for intolerance in newfriend.intolerances %}    
    {{ intolerance.intol_name }}<br>
    {% endfor %}

<form action="/friendintolerance_added" method="POST">
     <input type="hidden" name="user_id" value={{ newfriend.user_id  }}>
    <div class="form-group">
        <label>
            <h4><strong>Add an intolerances or allergy:</strong></h4>

            {% for intolerance in intol_list %}  
            <input type="checkbox" name="intol_ids" value={{ intolerance.intol_id }}>{{ intolerance.intol_name }}
            {% endfor %}
            </select><br>

        </label>
    </div>
