{% extends 'base.html' %}
{% block content %}
<div class="well spaced">

<form action="/findafriend" method="POST">
    <div class="form-group">
        <label>
            <h4><strong>Search for a friend to add:</strong></h4>
            <input type="text" name="email_address" class="form-control">
        </label>
    </div>

    <div class="form-group">

        <input type="submit" value="Add Friend" class="btn">
    </div>
    </div>

<a href="#">Create a profile for your friend</a>

<a href="/userprofile">Thanks, I'm done adding friends</a>

</form>
</div>
{% endblock %}
