{% extends 'base.html' %}
{% block content %}
<div class="well spaced">


    <p>Ingredients to avoid for {{ newfriend.first_name }} {{newfriend.last_name }}:</p>
    {% for avoid in newfriend.avoidances %}
    {{ avoid.ingredient}}<br>
    {% endfor %}<br><br>

<form action="/friendingredientadded" method="POST">
    <input type="hidden" name="user_id" value={{ newfriend.user_id  }}>
    <div class="form-group">
        <label>
            <h4><strong>Add an ingredient your friend would like to avoid:</strong></h4>
            <input type="text" name="ingredient" class="form-control">

            Add a reason your friend avoids ingredient (optional):
            <input type="text" name="reason" class="form-control">
        </label>
    </div>

    <div class="form-group">

        <input type="submit" value="Add Ingredient" class="btn">
    </div>
    </div>

<a href="/friendprofile?friends_id={{ newfriend.user_id }}">Thanks, I'm done adding ingredients</a>

</form>
</div>
{% endblock %}