{% extends 'base.html' %}
{% block content %}
<div class="well spaced">

    <p>You are already friends with:</p>
        {% for person in this_user.friends %}    
                {{ person.friends.first_name }} {{ person.friends.last_name}} ({{ person.friends.email }}<br>
                {% endfor %}

<form action="/addafriend" method="POST">
    <div class="form-group">
        <label>
            <h4><strong>Search for a friend to add:</strong></h4>
            <input type="text" name="email_address" class="form-control">
        </label>
    </div>

    <div class="form-group">

        <input type="submit" value="Add Friend" class="btn">
    </div>
    </div>

<a href="/userprofile">Thanks, I'm done adding friends</a>

</form>
</div>
{% endblock %}
