
{% extends 'base.html' %}
{% block content %}
<div class="row well-spaced" style="padding-top: 3em">
    <div class="col-md-6 col-md-offset-3">


        <div class = "row round_div" style="padding-top: 2em">
            <h1>Friend Profile: {% if newfriend.first_name is not none %}{{ newfriend.first_name }}{% else %}{{  newfriend.email  }}{%endif %} {% if newfriend.last_name is not none %}{{ newfriend.last_name }}{%endif %}</h1><br>
    
        <div class="col-md-2">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#userchange">update</button>
        </div>
        <div class="col-md-8">
            <b>First name:</b> {{ newfriend.first_name }}<br>
            <b>Last name:</b> {{ newfriend.last_name }}<br>
            <b>Email address:</b> {{ newfriend.email }}<br>
            <b>Diet:</b> {{ newfriend.diet.diet_type }}<br>
            <b>Diet Reason:</b> {{ newfriend.diet_reason }}<br>
        </div>
    </div>


    <div class = "row round_div" style="padding-top: 2em">
        <div class="col-md-2">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Intols">add</button>
        </div>
        <div class="col-md-8">
            <b>Intolerances:</b>
            <ul>    
                <li>{% for intolerance in newfriend.intolerances %}{{ intolerance.intol_name }}{% if not loop.last %}, {% endif %}{% endfor %}</li>
            </ul>
        </div>
    </div>
                         
    <div class = "row round_div" style="padding-top: 2em">
        <div class="col-md-2">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#IngToAvoid">add</button>
        </div>
        <div class="col-md-8">
            <b>Ingredients to avoid:</b>
            <ul>
                {% for avoid in newfriend.avoidances %}
                <li>{{ avoid.ingredient }} - (<i>{{ avoid.reason}}</i>)</li>
                {% endfor %}
            </ul>
        </div>
    </div>  
                            
    <div class = "row round_div" style="padding-top: 2em">
        <div class="col-md-8 col-md-offset-2">
            <b>Parties invited to:</b>
              
                    {% for party in parties %}
                    <a href="/party_profile/{{ party.party_id}}" class="btn btn-warning btn-block" style="margin-top:5px">{{  party.title  }}</a>
                    {% endfor %}
              
        </div>
    <div>


    <!-- Modal -->
    <div id="IngToAvoid" class="modal fade" role="dialog">
       <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add ingredients your friend would like to avoid</h4>
                </div>
                <div class="modal-body">
                    <form action="/friendingredientadded" method="POST">
                        <div class="form-group">
                            <label>
                                <input type="hidden" name="friend_id" value="{{ newfriend.user_id  }}">
                                <p>Ingredient to avoid:</p>
                                <input type="text" name="ingredient" class="form-control">
                                <p>Reason they would like to avoid this ingredient (optional):</p>
                                <input type="text" name="reason" class="form-control">
                                <br>
                                <input type="submit" value="Done" class="btn btn-success" id="avoidDone">
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

      <!-- Modal -->
    <div id="userchange" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Basic Profile Information</h4>
                </div>
                <div class="modal-body">
                    <form action="/changefrienduserinfo" method="POST">
                        
                            <div class="form-group">
                                <label>Email address (required):</label>
                                <input type="hidden" name="friend_id" value="{{ newfriend.user_id  }}">
                                <input type="text" name="email" value="{{ newfriend.email }}" class="form-control" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Friend's first name (optional):</label>
                                <input type="text" name="first_name" class="form-control" value="{% if newfriend.first_name is not none %}{{ newfriend.first_name }}{% else %}{%endif %}">
                            </div> 
                            <br>
                            <div class="form-group">   
                                <label>Friend's last name (optional):</label>
                                <input type="text" name="last_name" class="form-control" value="{% if newfriend.last_name is not none %}{{ newfriend.last_name }}{% else %}{%endif %}">
                            </div>
                            <br>
                            <div class="form-group"> 
                                <label>Diet your friend prefers to eat (required):</label>
                                <select name="diet_type" class="form-control">
                                    {% for diet in diets %}
                                 <option value={{ diet.diet_id }}>{{ diet.diet_type }}</option>
                                     {% endfor %}
                                 </select>
                            </div>
                            <br>
                            <div class="form-group"> 
                                <label>Reason they follow this diet (optional):</label>
                                <input type="text" name="diet_reason" class="form-control" value="{% if newfriend.diet_reason is not none %}{{ newfriend.diet_reason }}{% else %}{%endif %}">
                            </div>
                            <br>
                            <div class="form-group">                     
                                <input type="submit" value="update friend profile" class="btn btn-success">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div id="Intols" class="modal fade" role="dialog">
       <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add intolerances/allergies</h4>
            </div>
            <div class="modal-body">
                <form action="/friendintolerance_added" method="POST">
                    <div class="form-group">
                        <label>
                            <input type="hidden" name="friend_id" value="{{ newfriend.user_id  }}">
                            <p>Select all that apply:</p>
                            {% for intolerance in intol_list %}  
                            <input type="checkbox" name="intol_ids" value={{ intolerance.intol_id }}>   {{ intolerance.intol_name }}  
                            {% endfor %}
                            <br><br>
                        <input type="submit" value="Done" class="btn btn-success" id="intolDone">
                    </div>
                </form>
            </div>
        </div>
    </div>



        <!-- Modal -->
    <div id="Intols" class="modal fade" role="dialog">
       <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add intolerances/allergies</h4>
            </div>
            <div class="modal-body">
                <form action="/friendintolerance_added" method="POST">
                    <div class="form-group">
                        <label>
                            <input type="hidden" name="friend_id" value="{{ newfriend.user_id  }}">
                            <p>Select all that apply:</p>
                            {% for intolerance in intol_list %}  
                            <input type="checkbox" name="intol_ids" value={{ intolerance.intol_id }}>   {{ intolerance.intol_name }}  
                            {% endfor %}
                            <br>
                        <input type="submit" value="Done" class="btn btn-success" id="intolDone">
                    </div>
                </form>
            </div>
        </div>
    </div>


            <script>
            "use strict";
            $("#addIntol").click(function(){
                $("#addIntol").hide();
                $("#addIntolForm").toggle();
                console.log("show form");
            });

            $("#addIngred").click(function(){
                $("#addIngred").hide();
                $("#addAvoidForm").toggle();
                console.log("show form");
            });

            </script>

            {% endblock %}