
{% extends 'base.html' %}
{% block content %}
<div class="well spaced">
<h1>Friend Profile: {{ this_user.first_name }} {{ this_user.last_name }} </h1>

<ul>
    <li>Email address: {{ this_user.email }}</li>
    <li>Diet: {{ this_users_diet.diet_type }}</li>
    <li>Diet Reason: {{ this_user.diet_reason }}</li>
    <li>Intolerances:</li>
        <ul>
            {% for intolerance in this_user.intolerances %}    
            <li>{{ intolerance.intol_name }}</li>
                {% endfor %}
            <li><a href="#" title="This feature coming soon">Change intolerances</a></li>
        </ul>
    <li>Ingredients to avoid:</li>
        <ul>
            {% for avoid in this_users_avoids %}
            <li>{{ avoid.ingredient }}</li>
            <li style="list-style-type:none">Reason: {{ avoid.reason}}</li>
            {% endfor %}
            <li><a href="#" title="This feature coming soon">Change ingredients to avoid</a></li>
        </ul>  
</div>
{% endblock %}