
{% extends 'base.html' %}
{% block content %}
<div class="well spaced">
<h1>Friend Profile: {{ newfriend.first_name }} {{ newfriend.last_name }} </h1>

<ul>
    <li>Email address: {{ newfriend.email }}</li>
    <li>Diet: {{ newfriend.diet.diet_type }}</li>
    <li>Diet Reason: {{ newfriend.diet_reason }}</li>
    <li>Intolerances:</li>
        <ul>
            {% for intolerance in newfriend.intolerances %}    
            <li>{{ intolerance.intol_name }}</li>
                {% endfor %}

<li><form action="/addfriendintoleranceform" method="POST">
    <input type="hidden" name="user_id" value={{ newfriend.user_id  }}>
    <button>Add an intolerance for this friend</button>
    </form>
</li></ul>

    <li>Ingredients to avoid:</li>
        <ul>
            {% for avoid in newfriend.avoidances %}
            <li>{{ avoid.ingredient }}</li>
            <li style="list-style-type:none">Reason: {{ avoid.reason}}</li>
            {% endfor %}
            <li><form action="/addingfriendsinredienttoavoid" method="POST">
            <input type="hidden" name="user_id" value={{ newfriend.user_id  }}>
            <button>Add an ingredient to avoid for this friend</button>
            </form>
        </ul>  

<a href="/userprofile">Back to my profile page</a><br>

</div>
{% endblock %}