
{% extends 'base.html' %}
{% block content %}
<div>
<h1>{{ responses.get('number', None) }} Recipes found for <a href="/party_profile/<int:{{ party.party_id  }}>">{{ party.title }}</a></h1>

    <div class="container">
        <div id="recipe-list" class="row">
            {% for i in range(responses.get('number', None)) %}
                <div class="col-md-4">
                    <h4>{{ responses['response'][i].get('title') }}</h4>
                        <form action="/see_recipe" method="POST">
                        <input type="hidden" name="party_id" value="{{ party.party_id  }}">
                        <input type="hidden" name="recipe_id" value="{{ responses['response'][i].get('recipe_id') }}">
                        <input type="hidden" name="title" value="{{ responses['response'][i].get('title') }}">
                        <input type="hidden" name="recipe_image_url" value="{{ responses['response'][i].get('image_url') }}">
                        <input type="hidden" name="recipe_url" value="{{ responses['response'][i].get('recipe_url') }}">
                        <button>View recipe</button>
                        </form>
                    
                    <img src="{{ responses['response'][i].get('image_url') }}" class="img-circle" width="280" height="280">
              
                </div>
            {% endfor %}
        </div>
      
    </div>

</div>

{% endblock %}


--------







<!-- <ul>
    <li>Guests:</li>
        <ul>
            {% for guest in party.users %}    
            <li>{{ guest.first_name }} {{guest.last_name }} ({{ guest.email }}</li>
                {% endfor %}
            <li><a href="/addaguest/{{ party.party_id }}">Add more guests</a></li>
        </ul>
</ul> 
<a href="/userprofile">Back to my profile page</a><br>
<form action="/searchrecipes" method="POST">
    <input type="hidden" name="party_id" value={{ party.party_id  }}>
    <button>Show recipe options for this party</button>
</form>
 -->

<!--         each_response["title"] = title
        each_response["recipe_url"] = recipe_url
        each_response["image_url"] = image_url
party=party,
call_spoon=call_spoon,
get_diets=get_diets,
get_avoid=get_avoid,
get_intolerance=get_intolerance)
 -->


