{% extends 'homepage.html' %}
{% block content %}
<div class="well spaced">
    <h1>Register</h1>

    <form action="/registered" method="POST">

        <div class="form-group">
            <label>
                <strong>Email address</strong> (required): <input type="text" name="email" class="form-control">
                
                <strong>Password</strong> (required):
                <input type="password" name="password" class="form-control" required>
                
                First name (optional):
                <input type="text" name="first_name" class="form-control">
                
                Last name (optional):
                <input type="text" name="last_name" class="form-control">

                

                <h4><strong>Diet you prefer to eat (required):</strong></h4>
                
                <select name="diet_type">
                    {% for diet in diets %}
                    <option value={{ diet.diet_id }}>{{ diet.diet_type }}</option>
                    {% endfor %}
                </select><br>
                Reason you follow this diet (optional):<br>
                <input type="text" name="diet_reason" class="form-control">

            </label>
        </div>


        <div class="form-group">
            <input type="submit" value="Register" class="btn">
        </div>

    </form>
</div>
{% endblock %}