{% extends 'base.html' %}
{% block content %}
<div class="well spaced">  <!-- 1 -->
<h1>{{  this_user.first_name  }} {{  this_user.last_name  }}
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#userchange">update</button></h1>

    <!-- Modal -->
    <div id="userchange" class="modal fade" role="dialog">
         <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Update Basic Profile Information</h4>
                </div>
                      <div class="modal-body">
                        <form action="/update_user" method="POST">


    <div class="form-group">
        <label>

            <strong>Email address</strong> (required): <input type="text" name="email" value="{{ this_user.email }}" class="form-control" required>
        
                First name (optional):
                <input type="text" name="first_name" class="form-control" value="{% if this_user.first_name is not none %}{{ this_user.first_name }}{% else %}{%endif %}">
      
                Last name (optional):
                <input type="text" name="last_name" class="form-control" value="{% if this_user.last_name is not none %}{{ this_user.last_name }}{% else %}{%endif %}">


                <p>Diet you prefer to eat (required):</p>
                
                <select name="diet_type">
                    {% for diet in diets %}
                    <option value={{ diet.diet_id }}>{{ diet.diet_type }}</option>
                    {% endfor %}
                </select><br>
                Reason they follow this diet (optional):<br>
                <input type="text" name="diet_reason" class="form-control" value="{% if this_user.diet_reason is not none %}{{ this_user.diet_reason }}{% else %}{%endif %}">

                  
            </div><br>
            <div class="form-group">
                <input type="submit" value="update friend profile" class="btn">
            </div>
        </label>
    </div>
</form>
                      </div>

            </div>

        </div>
    </div>
</li>


<ul>
    <li>First name: {{ this_user.first_name }} 
    <li>Last name: {{ this_user.last_name }} 
    <li>Email address: {{ this_user.email }} 
    <li>Diet: {{ this_user.diet.diet_type }}
    <li>Diet Reason: {{ this_user.diet_reason }}
    <li>Intolerances:</li>
        <ul>
            <div id="userIntolerances">
                <li>{% for intolerance in this_user.intolerances %}
                    {{ intolerance.intol_name }}{% if not loop.last %}, {% endif %}{% endfor %}<li>
                
            </div>

            <li style="list-style-type:none">

    <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#Intols">Add an intolerance/allergies</button>

    <!-- Modal -->
    <div id="Intols" class="modal fade" role="dialog">
         <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add intolerances/allergies</h4>
                </div>
                      <div class="modal-body">
                        <form action="/intolerance_added" method="POST">
                            <div class="form-group">
                                <label>
                                    <p>Select all that apply:</p>
                                            {% for intolerance in intol_list %}  
                                        <input type="checkbox" name="intol_ids" value={{ intolerance.intol_id }}>   {{ intolerance.intol_name }}  
                                            {% endfor %}
                                        <br>

                                </label>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Done" class="btn" id="intolDone">
                            </div>
                        </form>
                      </div>

            </div>

        </div>
    </div>
</li>





        </ul>
    <li>Ingredients to avoid:</li>
        <ul>
                {% for avoid in this_user.avoidances %}
            <li>{{ avoid.ingredient }} (<i>{{ avoid.reason}}</i>)</li>
                {% endfor %}
            
            <li style="list-style-type:none">

    <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#IngToAvoid">Add ingredients you would like to avoid</button>

    <!-- Modal -->
    <div id="IngToAvoid" class="modal fade" role="dialog">
         <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add ingredients you would like to avoid</h4>
                </div>
                      <div class="modal-body">
                    <form action="/ingredientadded" method="POST">
                        <div class="form-group">
                            <label>
                                <p>Ingredient to avoid:</p>
                                    <input type="text" name="ingredient" class="form-control">
                                <p>Reason you would like to avoid this ingredient (optional):</p>
                                    <input type="text" name="reason" class="form-control">
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Done" class="btn" id="avoidDone">
                        </div>
                    </form>
                      </div>

            </div>

        </div>
    </div>
</li>






    <li>Friends:</li>
        <ul>
            {% for person in this_user.friends %}    
                <li><a href="/friendprofile/{{ person.friends.user_id }}">{% if person.friends.first_name is not none %}{{ person.friends.first_name }}{% else %}{%endif %}
{% if person.friends.last_name is not none %}{{ person.friends.last_name }}{% else %}{%endif %} ({{ person.friends.email }})</a>
             {% endfor %}       
        </ul>
    <li>Parties:</li>
        <ul>
            {% for party in this_user.parties %}
                <li>
                    <a href="/party_profile/{{ party.party_id }}">{{ party.title }}</a> 
                </li>
            {% endfor %}

</div> <!-- 1 -->

<script>
"use strict";
    $("#addIntol").click(function(){
            $("#addIntol").hide();
            $("#addIntolForm").toggle();
            console.log("show form");
    });

    $("#addIngred").click(function(){
            $("#addIngred").hide();
            $("#addAvoidForm").toggle();
            console.log("show form");
    });

</script>
{% endblock %}