{% extends 'base.html' %}
{% block content %}
<div class="well spaced">
<h1>{{ this_user.first_name }} {{ this_user.last_name }}</h1>

<ul>
    <li>Email address: {{ this_user.email }}</li>
    <li>Diet: {{ this_user.diet.diet_type }}</li>
    <li>Diet Reason: {{ this_user.diet_reason }}</li>
    <li>Intolerances:</li>
        <ul>
            {% for intolerance in this_user.intolerances %}    
            <li>{{ intolerance.intol_name }}</li>
                {% endfor %}
            <li><a href="/addintoleranceform">Add an intolerance/allergy</a></li>
        </ul>
    <li>Ingredients to avoid:</li>
        <ul>
            {% for avoid in this_user.avoidances %}
            <li>{{ avoid.ingredient }}</li>
            <li style="list-style-type:none">Reason: {{ avoid.reason}}</li>
            {% endfor %}
            <li><a href="/addingredienttoavoid">Add an ingredient you would like to avoid</a></li>
        </ul> 
    <li>Friends:</li>
        <ul>{% for person in this_user.friends %}    
            <li><a href="/friendprofile?friends_id={{ person.friends.user_id }}">
                {{ person.friends.first_name }} {{ person.friends.last_name}} ({{ person.friends.email }})</a> </li>
                {% endfor %}
            <li><a href="/findafriend">Add more friends.</a></li>
        </ul>
    </li>    
    <li>Parties:</li>
        <ul>{% for party in this_users_parties %}
                    <li><a href="/party_profile/{{ party.party_id }}">
                {{ party.title }}</a> 
                {% endfor %}</li>
            <li><a href="/addaparty">Add another party.</a></li></ul>

</div>
{% endblock %}