
{% extends 'base.html' %}
{% block content %}
<h1>{{  title  }}</h1>


<p>Safe for:</p>
<ul>
    <li>Diets: {{  party_diets }}</li>
    <li>Intolerances: {{  party_intols  }}</li>
    <li>Avoids: {{  party_avoids  }}</li>
   
</ul>

<ul>
    <li><strong>Ingredients</strong></li>
    <ul>{% for each in ingredients %}
    <li>{{  each  }}</li>
    {% endfor %}</ul>

</ul>

<ul>
    <li><strong>Instructions</strong></li>
    <ul>{% for each in instructions %}
    <li>{{  each  }}</li>
    {% endfor %}</ul>

</ul>




<div>
    <form action="/addtorecipebox" method="POST">
        <input type="hidden" name="party_diets" value="{{  party_diets  }}">
        <input type="hidden" name="party_avoids" value="{{  party_avoids  }}">
        <input type="hidden" name="party_intols" value="{{  party_intols  }}">
        <input type="hidden" name="recipe_id" value="{{  recipe_id }}">
        <input type="hidden" name="title" value="{{  title  }}">
        <input type="hidden" name="recipe_image_url" value="{{  recipe_image_url  }}">
        <input type="hidden" name="recipe_url" value="{{  recipe_url }}">
        <button>Save this recipe</button>
    </form>
</div>

<br><br>
<div>
<a href="/searchrecipes">Back to recipe search page</a>
</div>

<div>
<a href="/party_profile/{{ party_id  }}">Back to party profile</a>
</div>

<div>
<iframe sandbox="allow-same-origin allow-scripts" src="{{ recipe_url}}" width=100% height=500></iframe>
</div>

</div>
{% endblock %}


--------

