{% extends 'main/base.html' %}
{% block content %}

<div class="alert alert-info" style="display: none" id="add-success">
    <strong>Success!</strong> The recipe for <span id="alert-recipe-title" style="font-weight: bold"></span></strong> has been added to the menu for <strong><span id="alert-recipe-party-title" style="font-weight: bold"></strong></span>.
</div><br><br>


<div id="loadRecipeHere"></div>
<script src="{{ url_for('static', filename = 'js/recipeSearch.js') }}" type="text/javascript"></script> 

<div class="lb1 recipe_page round_div">
<div class="row">
    <div class="col-md-4 side_column">
        <div class="row display_guest">
            <div class="guest_name">
                <h3>{{ responses.get('totalResults', None) - offset }} Recipes <br>found<br>for<br> <a href="{{ url_for('profiles.show_party_profile',party_id=party.party_id) }}">{{ party.title }}</a></h3>  
            </div>
        </div>   


        <div class="row">
            <h4>Choose a new cuisine or course:</h4>
        </div>

        <!-- End of recipe search information -->
        <div class="search_form row">      
            <form class="horizontal" action="{{  (url_for('spoonacular.rerun_search'))  }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="form-group">
                    <label for="sel1">Pick a different cuisine:</label>
                    <select class="form-control" name="cuisine" id="sel1">
                        {% for cuisineoption in cuisine_list %}
                        <option value="{{  cuisineoption.cuisine_id  }}"{% if cuisineoption.cuisine_id == cuisine|int %} selected{% endif %}>{{  cuisineoption.cuisine_name  }}</option>
                        {% endfor %}        
                    </select>
                    <br> 
                    <label for="sel2">Pick a different course:</label>
                    <select class="form-control" name="course" id="sel2">
                        {% for courseoption in course_list %}
                        <option value="{{ courseoption.course_id  }}"{% if courseoption.course_id == course|int %} selected{% endif %}>{{  courseoption.course_name  }}</option>
                        {% endfor %}
                    </select>
                </div>
                <h4>Deselect a food preference:</h4>
                <p><i>You may need to make more dishes to make sure everyone eats.</i></p>
                <h4 class="form-control-static">Diets:</h4>
                
                {% for diet in party_diets %}  
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="alertme" name="diets" value="{{  diet }}" checked><strong>{{  diet|capitalize  }}</strong><br>
                        {% for guest in party.guests %}
                            {% if guest.profiles.diet.diet_type == diet %}
                                <a href="#" data-toggle="tooltip" data-placement="right" title='Reason: "{{  guest.profiles.diet_reason}}"'>
                                    {% if guest.profiles.first_name and guest.profiles.last_name %}
                                        {{  guest.profiles.first_name  }} {{  guest.profiles.last_name}}
                                    {% elif guest.profiles.first_name and not guest.profiles.last_name %}
                                        {{  guest.profiles.first_name}}
                                    {% else %}
                                        {{  guest.profiles.email  }}
                                    {% endif %}</a><br>
                            {% endif %}
                        {% endfor %}
                    </label>
                        
                </div>
                {% endfor %}

                    <h4 class="form-control-static">Intolerances/Allergies:</h4>
                    
                    {% if party_intols %}
                        <div class="checkbox">
                            {% for intol in party_intols %}
                            {% if not intol %}
                                <span class="text-muted" style="padding-left: 1em">No allergies/intolerances</span>
                            {% endif %}                 
                            <label>
                                {% if intol %}
                                <input type="checkbox" class="alertme" name="intols" value="{{  intol }}" checked><strong>{{  intol|capitalize  }}</strong><br>
                                
                               {% for guest in party.guests %}
                                {% for intolerance in guest.profiles.intolerances %}
                                {% if intolerance.intol_name == intol %}
                                <a href="#" data-toggle="tooltip" data-placement="right" title="No reasons are collected for Intolerances/Allergies because the reason is always the same, these things will make your guest very sick. Tread carefully. It may be enough to have seperate dishes and it may not.">
                                    {% if guest.profiles.first_name and guest.profiles.last_name %}{{  guest.profiles.first_name  }} {{  guest.profiles.last_name}}{% elif guest.profiles.first_name and not guest.profiles.last_name %}{{  guest.profiles.first_name}} {% else %}{{  guest.profiles.email  }}</a>{% endif %}</a><br>
                                    {% endif %}
                                    {% endfor %}    
                                    {% endfor %}

                                {% else %}
                                <input type="hidden" class="alertme" name="intols" value="{{  intol }}" checked><strong>{{  intol|capitalize  }}</strong><br>
                                {% endif %}    
                                </label><br>
                                {% endfor %}

                        </div>
                    {% else %}
                        <span class="text-muted">No intolerances</span>
                    
                    {% endif %}

                        <h4 class="form-control-static">Ingredients to omit:</h4> 
                                {% if party_avoids %}
                                    <div class="checkbox"> 
                                    {% for avoid in party_avoids %}  
                                            <label>
                                                {% if avoid %}  
                                                <input type="checkbox" name="avoids" class="alertme" value="{{  avoid }}" checked><strong>{{  avoid|capitalize  }}</strong><br>

                                                {% for guest in party.guests %}
                                                {% for guestavoid in guest.profiles.avoidances %}
                                                
                                                {% if guestavoid.ingredient == avoid %}
                                                
                                                <a href="#" data-toggle="tooltip" data-placement="right" title='"Reason: {{  guestavoid.reason  }}"'>{% if guest.profiles.first_name and guest.profiles.last_name %}{{  guest.profiles.first_name  }} {{  guest.profiles.last_name}}{% elif guest.profiles.first_name and not guest.profiles.last_name %}{{  guest.profiles.first_name}} {% else %}{{  guest.profiles.email  }}</a>{% endif %}</a>
                                                {% endif %}
                                                {% endfor %}    
                                                {% endfor %}
                                                {% else %}
                                                <input type="hidden" name="avoids" class="alertme" value="{{  avoid }}" checked><strong>{{  avoid|capitalize  }}</strong><br>
                                                {% endif %}
                                            </label><br>
                                    {% endfor %}
                                </div>
                                {% else %}
                                <span class="text-muted">No ingredients to avoid</span><br><br>
                                {% endif %}
                         
                                    

                            
                        
                        
                        <input type="submit" id="recipe-form-submit"value="Click for more variety" class="btn btn-success btn-lg btn-block">                 
                        
                    </form>
                    
                </div>    
            </div> <!-- end of left column -->


            <div class="col-md-8 side_column">

            <div class="recipe_results" id="recipe_results">
                {% for i in range(result_number) %}
                    <div class="col-md-6 recipe">
                        <h4><a href="#" data-toggle="tooltip" data-placement="right" title="{{  responses['response'][i].get('title')  }}" >{{  responses['response'][i].get('title')|truncate(39, end=" (...)") }}</a></h4>
                    
                        <button type="button" class="btn btn-sm btn-info recipe-button" data-toggle="modal" data-recipeid="{{ responses['response'][i].get('recipe_id') }}" data-target="#seeRecipeModal">View Recipe</button>

                            <img src="{{ responses['response'][i].get('image_url') }}" class="img-circle displayed" width="250" height="250">
                    </div>
                {% endfor %}
            </div>

            {% if responses.get('totalResults', None) > 100 %}
                {% if (responses.get('totalResults', None) - offset) > 0 %}
                    <div class="row text-center">
                        <div class="col-md-6-offset-4">
                        <br><br><br><br><br>
                        <a href="{{  url_for('spoonacular.load_more_recipes')  }}" class="btn btn-lg btn-success" id="loadMoreRecipes">Load More Recipes</a>
                    </div>
                {% endif %}  
            {% endif %}


            </div>                                 

            </div>

      {% endblock %}
