{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
    
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li><font style="color:red;">{{ error }}</font></li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}


{% macro render_inline_field(field) %}
  {{ field.label }}&emsp;{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li><font style="color:red;">{{ error }}</font></li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}



<!-- http://bear-z.com/python/render-bootstrap-3-forms-with-wtforms-and-jinja/
 -->


