{% extends "bootstrap/base.html" %}

{% block title %}KindTable{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='site.css') }}">
{% endblock %}


{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
   <!--     Brand and toggle get grouped for better mobile display--> 
   <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Kind Table</a>
  </div>

  {% if current_user.is_authenticated %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <li><a href="/userprofile">My Profile</a></li>
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Friends<span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% for friend in session.friends_dict %}
          <li><a href={{ url_for('main.show_friend_profile', variable=friend. ) }}

            "/friendprofile/{{ friend.friends.user_id }}">
            {% if friend.friends.first_name is not none %}   
            {{ friend.friends.first_name }}
            {% else %}
            {%endif %}
            {% if friend.friends.first_name is not none %}   
            {{ friend.friends.last_name }}
            {% else %}
            {%endif %}
            ({{ friend.friends.email }})</a></li>
            {% endfor %}
            <li role="separator" class="divider"></li>
            <li><a href="/findfriend">Add a new friend</a></li>
            <li><a href="/findmanyfriends">Add multiple friends</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Parties<span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for party in session.parties %}
            <li><a href="/party_profile/{{ party.party_id }}">{{  party.title  }}</a></li>
            {% endfor %}
            <li role="separator" class="divider"></li>
            <li><a href="/addaparty">Create a party</a></li>
          </ul>
        </li>
      </ul>    
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Log out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  {% else %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href={{ url_for('auth.register') }}>Register</a></li>
        <li><a href={{ url_for('auth.login') }}>Log in</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  {% endif %}
</div><!-- /.container-fluid -->
</nav>

{% endblock %}

<!-- ------------ -->

{% block content %}
<div class="container-fluid">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div id="extending">
    {% block page_content %}
    {% endblock %}
  </div>
</div>

{% endblock %}  <!-- /content -->

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/tooltip.js"></script>
{% endblock %}