{% extends 'base.html' %}
{% block content %}

<div class="row well-spaced" style="padding-top: 3em">
    <div class="col-md-6 col-md-offset-3">
        
        <div class = "row round_div" style="padding-top: 2em">
            <h1>{{  profile.first_name  }} {{  profile.last_name  }}</h1><br>
            <div class="col-md-2">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#userchange">update</button></h1>
            </div>
            <div class="col-md-8">
            
                <b>Email address:</b> {{ profile.email }}</b> <br>
                <b>Diet:</b> {{ profile.diet.diet_type }}</b><br>
                <b>Diet Reason:</b> {{ profile.diet_reason }}
            </div>
        </div>    
                            
        <div class = "row round_div" style="padding-top: 2em">
            <div class="col-md-2">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Intols">add</button>
            </div>
            <div class="col-md-8">
            <b>Intolerances:</b>
            <ul>
                <div id="userIntolerances">
                    <li>{% for intolerance in profile.intolerances %}{{ intolerance.intol_name }}{% if not loop.last %}, {% endif %}{% endfor %}</li>
                </ul>
            </div>
        </div>
        <div class = "row round_div" style="padding-top: 2em">
            <div class="col-md-2">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#IngToAvoid">add</button>
            </div>
            <div class="col-md-8">
                <b>Ingredients to avoid:</b>
                <ul>
                    {% for avoid in profile.avoidances %}
                    <li>{{ avoid.ingredient }} - (<i>{{ avoid.reason}}</i>)</li>
                    {% endfor %}
                </ul>
            </div>
        </div>        
                          
        <div class = "row round_div" style="padding-top: 2em">
            <div class="col-md-2">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#AddAFriend">add</button>
            </div>
            <div class="col-md-8">
                <b>Friends:</b>
                
                        {% for person in this_user.friends %}    
                        <a href="/friendprofile/{{ person.friends.user_id }}" class="btn btn-warning btn-block" style="margin-top:5px">{% if person.friends.first_name is not none %}{{ person.friends.first_name }}{% else %}{%endif %}
                            {% if person.friends.last_name is not none %}{{ person.friends.last_name }}{% else %}{%endif %} ({{ person.friends.email }})</a>
                            {% endfor %}       
                    
            </div>
        </div>
        <div class = "row round_div" style="padding-top: 2em">
            <div class="col-md-2">
                 <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#AddAParty">add</button>
            </div>
            <div class="col-md-8">
                <b>Parties:</b>
                
                    {% for party in this_user.parties %}
                
                        <a href="/party_profile/{{ party.party_id }}" class="btn btn-warning btn-block" style="margin-top:5px">{{ party.title }}</a> 
                
                    {% endfor %}
            </div>
        </div>
    </div>   <!-- initial column -->
</div>  <!-- initial row -->



                    <!-- Modal -->
                                <div id="userchange" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Update Basic Profile Information</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/update_user" method="POST">
                                                    <div class="form-group">
                                                        <label>Email address</label> (required): <input type="text" name="email" value="{{ this_user.email }}" class="form-control" required>

                                                        <label>First name (optional):</label>
                                                        <input type="text" name="first_name" class="form-control" value="{% if this_user.first_name is not none %}{{ this_user.first_name }}{% else %}{%endif %}">

                                                        <label>Last name (optional):</label>
                                                        <input type="text" name="last_name" class="form-control" value="{% if this_user.last_name is not none %}{{ this_user.last_name }}{% else %}{%endif %}">


                                                        <label>Diet you prefer to eat (required):</label><br>

                                                        <select name="diet_type">
                                                            {% for diet in diets %}
                                                            <option value={{ diet.diet_id }}>{{ diet.diet_type }}</option>
                                                            {% endfor %}
                                                        </select><br>
                                                        <label>Reason they follow this diet (optional):</label>
                                                        <input type="text" name="diet_reason" class="form-control" value="{% if this_user.diet_reason is not none %}{{ this_user.diet_reason }}{% else %}{%endif %}"><br>
                                                
                                                        <input type="submit" value="update friend profile" class="btn btn-success">
                                                    </div>
                                                 </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                                <!-- Modal -->
                <div id="AddAFriend" class="modal fade" role="dialog">
                   <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add a friend</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/addafriend" method="POST">
                               <div class="form-group">
                                    <label>Email address:</label><br>
                                    <input type="email" name="email_address" class="form-control">
                                </div><br>
                                <div class="form-group">
                                    <input type="submit" value="Add Friend" class="btn btn-success">    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


                                                                    <!-- Modal -->
                                <div id="Intols" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Add intolerances/allergies</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/intolerance_added" method="POST">
                                                    <div class="form-group">
                                                        <label>Select all that apply:</label><br>
                                                            {% for intolerance in intol_list %}  
                                                            <input type="checkbox" name="intol_ids" value={{ intolerance.intol_id }}>   {{ intolerance.intol_name }}<br>  
                                                            {% endfor %}
                                                                <br>

            
                                                    </div><br>
                                                    <div class="form-group">
                                                        <input type="submit" value="Done" class="btn btn-success" id="intolDone">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                                                        <!-- Modal -->
                                <div id="IngToAvoid" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Add ingredients you would like to avoid</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/ingredientadded" method="POST">
                                                    <div class="form-group">
                                                        <label>
                                                            <p>Ingredient to avoid:</p>
                                                            <input type="text" name="ingredient" class="form-control">
                                                            <p>Reason you would like to avoid this ingredient (optional):</p>
                                                            <input type="text" name="reason" class="form-control">
                                                        </label>
                                                    </div><br>
                                                    <div class="form-group">
                                                        <input type="submit" value="Done" class="btn btn-success" id="avoidDone">
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>



                                <div id="AddAParty" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Create a new party</h4>
                                            </div>
                                            <div class="modal-body">
                                                      <form action="/party_added" method="POST">
                                                    <div class="form-group">
                                                        <label>Create a name for your party:</label>
                                                        <input type="text" name="title" class="form-control">
                                                    </div><br>
                                                    <div class="form-group">
                                                        <input type="submit" value="Create a party" class="btn btn-success">
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>



        <script>
        "use strict";
        $("#addIntol").click(function(){
            $("#addIntol").hide();
            $("#addIntolForm").toggle();
            console.log("show form");
        });

        $("#addIngred").click(function(){
            $("#addIngred").hide();
            $("#addAvoidForm").toggle();
            console.log("show form");
        });

        </script>
        {% endblock %}